#map {
    position: relative;
    width: 64%;
    height: 100vh;
}

.control-zone {
    position: absolute;
    display: flex;
    //justify-content: center;
    width: 100%;
    z-index: 999999;
}

.upper {

    button {
        margin: 5px;
        padding: 10px;
        cursor: pointer;
    }

    select {
        position: absolute;
        left: 40px;
        top: 20px;
        width: 120px;
    }
}

.bottom {
    bottom: 0;
    margin-bottom: 5px;

    button {
        padding: 10px;
        margin: 0px 5px;
        cursor: pointer;
    }
}

.grid-zone {
    padding: 15px;
    position: relative;
    align-items: center;
    width: 35%;
    padding: 5px;
    margin-left: 10px;

    h4 {
        border-bottom: 1px solid black;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.node-grid-zone {
    display: flex;
    margin-top: 15px;
}

.left-zone {

}

.right-zone {
    margin-left: 15px;
}

.checkbox-zone {
    background: rgba(127, 127, 127, 0.5);
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        margin-left: 5px;
    }

}

.search-zone {
    position: absolute;
    right: 5px;
    height: 25px;

    input {
        height: 25px;
    }

    button {
        padding: 3px;
    }

}

.control-btn-zone {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    left: 5px;
    margin-top: 25%;

    button {
        padding: 5px 25px;
    }
}
.innerMap-zone {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width:400px;
    height:250px;
    resize: both;
    overflow: auto;

    #innerMap {
        width: 100%;
        height: 100%;
        z-index: 9999;

    }
}
